.topnav {
    background-color: #222121;
    overflow: hidden;
    width: 1520px;
}
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.topnav a:hover {
    background-color: green;
    color: white;
}
.topnav a.active {
    color: white;
}
.header {
  color: green;
}
.mainArea{
  font-size: 24px;
  padding-left: 8px;
  background-color: white;
  border: dotted;
  color: green;
}
.footer{
  font-size: 16px;
  padding-top: 10px;
  padding-left: 8px;
  border: dotted;
}
